* {
  margin: 0px 0px;
}

/* logo */
#logo {
  margin: 10px 10px;
}

#logo img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 0px 5px;
}

/* navbar */
.navbar {
  display: flex;
  align-items: center;
  position: relative;
  top: 0px;
}

.navbar::before {
  content: "";
  background-color: black;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.navbar ul {
  display: flex;
  margin: 0px -40px;
}

.navbar ul li {
  list-style: none;
  font-size: -0.7rem;
}

.navbar ul li a {
  color: white;
  display: block;
  padding: 0px 20px;
  text-decoration: none;
  border-radius: 15px;
}

.navbar ul li a:hover {
  color: black;
  background-color: white;
}

/* home */
#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
}

#home p {
  color: white;
  font-size: 1.2rem;
  font-style: bold;
}

#home::before {
  content: "";
  background: url("..//Assets/Images/food1.jpeg") no-repeat center center/cover;
  position: absolute;
  height: 60%;
  width: 100%;
  z-index: -1;
  opacity: 1;
}

/* Services-container */
#services {
  display: flex;
}

#services .box {
  border: 2px solid red;
  background-color: rgb(238, 232, 232);
  border-radius: 15px;
  margin: 30px 6px;
  padding: 15px 10px;
  align-items: center;
  justify-content: center;
}

#services .box img {
  display: block;
  margin: auto;
  height: 150px;
  width: 200px;
}

.service-container {
  margin: 120px 70px;
}

/* Client-Section */
#clients {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 60px;
}

#clients img {
  height: 150px;
  width: 150px;
}

.client-items {
  padding: 35px;
}

.client-container .primary-heading {
  margin: -70px;
}

.client-container::before {
  content: "";
  position: absolute;
  background: url("..//Assets/Images/client-back.jpeg") no-repeat center center/cover;
  height: 55%;
  width: 100%;
  z-index: -1;
  opacity: 0.5;
}

/* contact container */
#contact-box{
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  margin-left: 500px;
  padding-bottom: 34px;
}

#contact-box textarea{
  width: 340%;
  padding: 1.5rem;
  border-radius: 10px;
}

#contact-box input{
  width: 372%;
  border-radius: 4px;
  margin: 4px 0px;
}

#contact-box form{
  width: 13%;
}

#contact-container{
  position: relative;
  margin-top: 98px;
}


#contact-container::before{
  content: "";
  position: absolute;
  background: url("..//Assets/Images/contact.jpeg") no-repeat center center/cover;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
}

footer{
  background: black;
  color: white;
  padding: 15px 15px;
}

/* Utility classes */
.primary-heading {
  font-size: 2.8rem;
  padding: 12px;
}

.secondary-heading {
  font-size: 1.5rem;
  padding: 12px;
}

.btn {
  margin: 20px;
  color: white;
  background-color: brown;
  padding: 5px 15px;
  border: 4px solid white;
  border-radius: 8px;
  font-size: 1.1rem;
  cursor: pointer;
}

.center {
  text-align: center;
}
